@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Are you looking for a new website? Or need assistance with marketing your business online, come and talk to us!
We specialise in user friendly web design and work closely with our customers to generate enquiries and sales through websites.
WEBSITE DESIGN: Corporate Websites, CMS Websites, Product Websites, Logo Design, Emails Design.
ECOMMERCE WEB DESIGNING: Custom eCommerce, Magento eCommerce,  Magento Website’s, eCommerce Consulting, WordPress Development.
MOBILE WEB APPLICATIONS: iOS app development, Android app development, iPad app development, Enterprise mobility, UI/UX design, Wearable apps.
If you are interested any of these services, please share your detailed requirement.</p>
