@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2, Foxgrove<br />
    Chippenham, SN14 6XA, United Kingdom<br />
    <abbr title="Phone">P:</abbr>
    +44 1249 323973
</address>

<address>
    <strong>Hello:</strong>   <a href="mailto:hello@thinkdigitech.com">hello@thinkdigitech.com</a><br />
   
</address>