@{
    ViewBag.Title = "Welcome to Think Digital Technologies";
}

<div class="jumbotron">
    <h1>Think Digital Technologies</h1>
    <p class="lead">We Design, Develop, Deploy Web Sites/ Web Applications and Mobile Applications. </p>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WEBSITE DESIGN: </h2>
        <p>
            Corporate Websites, CMS Websites, Product Websites, Logo Design, Emails Design
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>ECOMMERCE WEB DESIGNING:</h2>
        <p>Custom eCommerce, Magento eCommerce,  Magento Website’s, eCommerce Consulting, WordPress Development.</p>
      
    </div>
    <div class="col-md-4">
        <h2>MOBILE WEB APPLICATIONS: </h2>
        <p>iOS app development, Android app development, iPad app development, Enterprise mobility, UI/UX design, Wearable apps.</p>       
    </div>
</div>